@use 'sass:color';

$background-color: #222;
$color: #ccc;
$darken: color.adjust($color, $lightness: -40%);

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    background: $background-color;
    color: $color;
}

canvas {
    border: 3px solid $darken;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 100%;

    &--with-layer {
        border-color: indianred;
    }

    &__title {
        text-transform: lowercase;

        span + span {
            margin-left: 10px;
        }
    }

    &__score {
        color: #ffffff;
    }
}
